[merge]
	tool = unityyamlmerge
[mergetool "unityyamlmerge"]
	trustExitCode = false
	keepTemporaries = true
	keepBackup = false
	path = /Users/andyjenkins/Development/unity/Editor/Data/Tools/UnityYAMLMerge.exe
	cmd = \"/Users/andyjenkins/Development/unity/Editor/Data/Tools/UnityYAMLMerge.exe\" merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"